.dashboard-flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.card-title,
.card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-title {
    color: rgb(69, 152, 184);
}